* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Theme Variables */
:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --card-bg: #ffffff;
}

body.dark {
    --bg-color: #0f172a;
    --text-color: #ffffff;
    --card-bg: #1e293b;
}

/* Apply Theme */
body {
    background: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
    transition: 0.3s;
}

/* Navbar */
header {
    background: var(--card-bg);
    padding: 15px 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
}

/* Toggle Button */
#themeToggle {
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

/* Hero */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #667eea, #764ba2);
    color: white;
    text-align: center;
}

.hero span {
    color: yellow;
}

.hero button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Sections */
section {
    padding: 60px 20px;
    text-align: center;
}

/* Projects */
.projects {
    background: #f4f4f4;
}

body.dark .projects {
    background: #020617;
}

.project-card {
    background: var(--card-bg);
    margin: 15px auto;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
}

/* Contact */
.contact form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

.contact input, .contact textarea {
    margin: 10px 0;
    padding: 10px;
}

.contact button {
    padding: 10px;
    background: black;
    color: white;
    border: none;
}